$primary: #0080ff;
$secondary: #FF0080;
$success: #00ff80;
$info: #ff7f00;
$warning: #ffff00;
$danger: #ff0000;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
$black: #000;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);
